<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "PCPACK" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  </head>

  <body class="d-flex flex-column min-vh-100" style="margin: 0; padding: 0;">
    <%= render "shared/header" %>

    <% if flash[:notice] || flash[:alert] %>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          alert("<%= j flash[:notice] || flash[:alert] %>");
        });
      </script>
    <% end %>

    <main class="flex-grow-1">
      <%= yield %>
    </main>

    <% if content_for?(:footer) %>
      <%= yield :footer %>
    <% else %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>